@font-face{
    font-family: Comfortaa;
    src: url("comfortaa.ttf");
}

#header{
    border-top: solid thin black;
    border-bottom: solid thin black;
    margin: 10%;
}

#header1{
    margin-top: 1%;
    text-align: center;
}

.button{
    background-color: dimgray;
    color: white;
    font-family: Comfortaa;
    
}
.button:hover, .button:focus {
    background-color: lightgray;
    color: #fefefe; }
h1{
    margin-top: 2%;
    text-align: center;
    font-family: Comfortaa;
    font-size: 150%;
}

